export PORT=9001

export NODE_ENV=development
export NODE_DEBUG=redis

export REDIS_HOST=localhost
export REDIS_PORT=6379
export REDIS_PASSS=""
export REDIS_DB=0

export LND_NETWORK=simnet
export LND_PATH=/tmp/lnd-wallets
export LND_HOST=localhost
export LND_PORT_MIN=13000
export LND_ENV=/data/lnd.env

export BTCD_HOST=localhost:18556
export BTCD_USER=user
export BTCD_PASS=pass

export BTCW_HOST=localhost:18554
export BTCW_USER=user
export BTCW_PASS=pass

export HUB_RPC=$LND_HOST:10099
export HUB_FUNDING_AMT=10000
export HUB_AUTOSEND_AMT=5000

